
.cards{
    max-width:880px;
    padding: 36px 0 50px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 17px;
    row-gap: 20px;
    /* border: 1px solid white; */
    z-index: 1;
}

@media screen and (min-width:880px) {
    .cards{
        padding: 46px 0 68px;

    }
}

