@keyframes scale {
    0%{
         scale: 1; 
    }
    50%{
        scale: 1.2; 
    }
    100%{
         scale: 1; 

    }
}


.popup__scale{
    display: flex;
    animation: scale 1s ease-in-out;
}