.header__logo{
    width: 126px;
    /* margin: 0 0 0 27px; */
    position: absolute;
    left: 27px;
}
@media screen and (min-width:550px) {
    .header__logo{
        width: 137px;
    }
}

@media screen and (min-width:950px) {
    .header__logo{
        width: 157px;
    }
}

@media screen and (min-width:1280px) {
    .header__logo{
        width: 173px;
    }
}