.header {
  width: 100%;
  min-height: 56px;
  margin: 28px 0 0;
  border-bottom: 1px solid #545454;
  position: relative;
}

@media screen and (min-width: 880px) {
  .header {
    width: 760px;
    margin: 45px 0 0;
    min-height: 74px;
  }
}

@media screen and (min-width: 1160px) {
  .header {
    width: 880px;
  }
}
