@keyframes brrrr {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(2deg);

  }
  75%{
    transform: rotate(-2deg);

  }
  100%{
        transform: rotate(0deg);

  }
}
.form__input__invalid {
    animation: brrrr .2s linear;
    border: 2px solid red;
  }