.image__imagen-big{
    max-width: 75vw;
    max-height: 600px;
    /* width: 80%;
    min-height: 610px;
    max-height: 610px;
    min-width: 616px;
    max-width: 816px; */
    z-index: 3;
    border-radius:15px 15px 15px 15px;
    align-self: flex-end;
}
