.profile__add-button{
    width: 282px;
    height: 50px;
    grid-area: button-add;
    background-image: url(../../../images/Add__Button.svg);
}

@media screen and (min-width:620px) {
    .profile__add-button{
        width: 120px;
        height: 50px;
        background-image: url(../../../images/Add__Button-150.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
    }

@media screen and (min-width:700px) {
    .profile__add-button{
        width: 150px;
        justify-self: flex-end;

    }
}

.profile__add-button:hover{
    opacity: 50%;
    transition: opacity .5s ease-in-out .01s;
}