.create-card__overlay {
  background: #000000;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  opacity: 0.5;
}

@media screen and (max-width: 880px) {
  .create-card__overlay {
    min-height: 100%;
  }
}
