@keyframes  joinLeft{
    0%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0);
    }
}
.animation__join-left{
    animation: joinLeft 1s ease-in-out forwards;
}