@keyframes  joinBack{
    0%{
        transform: translateY(900px);
    }
    100%{
        transform: translateY(0);
    }
}

.animation__join-back{
    visibility: none;
    animation: joinBack 1s ease-in-out forwards;
}