.profile__name {
  margin: 0;
  grid-area: name;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 560px) {
  .profile__name {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1160px) {
  .profile__name {
    width: 90%;
    font-size: 42px;
    line-height: 48px;
  }
}
