.form__close-icon {
  max-width: 40px;
  position: absolute;
  z-index: 4;
  bottom: 100%;
  left: 100%;
  background: black;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 580px) {
  .form__close-icon {
    left: 100%;
    bottom: 100%;
  }
}

@media screen and (max-width:430px) {
  .form__close-icon {
    left: 46%;
    bottom: 105%;
  }
}
.form__close-icon:hover {
  opacity: 0.6;
}
