.image__container{
    max-height: 40%;
    max-width: 65%;
    display: grid;
    grid-template-areas: 
    "closeButon"
    "image"
    "name";
}

@media screen and (max-width:880px) {
    .image__container{
        height: 60%;
        width:80%;

    }
}

@media screen and (max-width:620px) {
    .image__container{
        max-height: 30%;
        max-width: 100%;
    }
}

