.profile__info {
  display: grid;
  /* grid-template-rows: repeat(2,1fr); */
  grid-template-areas:
    "name button-edit"
    "description description";
  grid-area: info;
  row-gap: 14px;
  gap: 10px;
}

@media screen and (min-width: 620px) {
  .profile__info {
    align-items: center;
    width: 260px;
    gap: 0;
    row-gap: 13px;
  }
}

@media screen and (min-width: 1160px) {
  .profile__info {
    width: 400px;
    /* padding: 0 162px 0 0; */
  }
}
